<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><?php echo $this->translate('Rentals|Dashboard') ?></title>
        <?php echo $this->headTitle('News '. $this->translate('Admin Area'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0 ,maximum-scale=1,user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/admin/css/AdminLTE.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/daterangepicker/daterangepicker-bs3.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/fullcalendar/fullcalendar.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/jvectormap/jquery-jvectormap-1.2.2.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/morris/morris.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/ionicons.min.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/font-awesome.min.css')
                        ->prependStylesheet($this->basePath() . '/admin/css/bootstrap.min.css') ?>

    
     <!-- jQuery 2.0.2 -->
        <script src="<?php echo $this->basePath();?>/js/jquery-1.11.2.js"></script>
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="index.html" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <?php echo $this->translate('Administrator'); ?>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only"><?php echo $this->translate('Toggle navigation'); ?></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="img/avatar3.png" class="img-circle" alt="User Image"/>
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li><!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="img/avatar2.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="img/avatar.png" class="img-circle" alt="user image"/>
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users warning"></i> 5 new members joined
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-cart success"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-person danger"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span><?php echo $this->zfcUserIdentity()->getEmail(); ?> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="admin/img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        <?php echo $this->zfcUserIdentity()->getEmail(); ?> - Administrator
                                        <small>Member since July. 2014</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                    <?php  $user_id = $this->zfcUserIdentity()->getId(); ?>
                                        <a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'profile','id'=>$user_id)); ?>" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="<?php echo $this->url('zfcuser/logout'); ?>" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/admin/img/avatar3.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hello, <?php echo $this->zfcUserIdentity()->getEmail(); ?></p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'index'));?>">
                                <i class="fa fa-dashboard"></i> <span><?php echo $this->translate('Dashboard');?></span>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'usermanager'));?>">
                                <i class="fa fa-user"></i> <span><?php echo $this->translate('Manage Users');?></span> <small class="badge pull-right bg-green"><?php echo $this->translate('new');?></small>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'category'));?>">
                                <i class="fa fa-gavel"></i> <span><?php echo $this->translate('Manage Category');?></span>
                            </a>
                        </li>
                        
                       
                         <li>
                            <a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'pagesmanager'));?>">
                                <i class="fa fa-folder-open"></i> <span><?php echo $this->translate('Manage Pages');?></span>
                            </a>
                         </li>
                         <li>
                            <a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'menu'));?>">
                                <i class="fa fa-rocket"></i> <span><?php echo $this->translate('Manage Menu');?></span>
                            </a>
                         </li>
                         <li>
                            <a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'mailbox')); ?>">
                                <i class="fa fa-envelope"></i> <span>MailBox</span>
                                <small class="badge pull-right bg-yellow"><?php echo $this->ureadmail; ?></small>
                            </a>
                        </li>
                       
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                  <br />

                 <?php

                 

                   $messages = $this->flashMessenger()->getCurrentSuccessMessages();

            		foreach ($messages as $message):

                        echo '<div style="display:block;" id="flashmessages" class="alert alert-success alert-dismissable">

                                    <i class="fa fa-check"></i>

                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                                    <b>Success !</b> '.$this->translate($message).'.

                            </div>';

  				    endforeach;

                $messages = $this->flashMessenger()->getCurrentErrorMessages();

				foreach ($messages as $message):

					echo '<div style="display:block;" id="flashmessages" class="alert alert-danger alert-dismissable">

                                 <i class="fa fa-ban"></i>

                                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                                <b>Error !</b> '.$this->translate($message).'

                            </div>';

				endforeach;



				$messages = $this->flashMessenger()->getCurrentInfoMessages();

				foreach($messages as $message):

					echo '<div class="alert alert-info alert-dismissable">

                                        <i class="fa fa-info"></i>

                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                                        <b>Info !</b> '.$this->translate($message).'

                          </div>';

				endforeach;



                $this->flashMessenger()->clearMessages();
               
                echo $this->content; ?>
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
    
    <!-- add new calendar event modal -->

       
        <!-- jQuery UI 1.10.3 -->
        <script src="<?php echo $this->basePath();?>/admin/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="<?php echo $this->basePath();?>/admin/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        
        <!-- AdminLTE App -->
        <script src="<?php echo $this->basePath();?>/admin/js/AdminLTE/app.js" type="text/javascript"></script>
        
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="<?php echo $this->basePath();?>/admin/js/AdminLTE/dashboard.js" type="text/javascript"></script>     
        
        <!-- AdminLTE for demo purposes -->
        <script src="<?php echo $this->basePath();?>/admin/js/AdminLTE/demo.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="<?php echo $this->basePath();?>/admin/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        
    </body>
</html>