 <?php $sn=1; foreach($amenities as $key=>$val):?>
                                            
	<tr>
		<td><?php echo $sn;?></td>
		<td><?php echo $val->name; ?></td>
        <td><?php echo $val->sub_type; ?></td>
		<td><a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'changeAmenitiesStatus','id'=>$val->tax_id)); ?>" class='state <?php echo $val->status=='0' ? ' btn btn-xs btn-danger':' btn btn-xs btn-success';?>' rel='<?php echo $val->status;?>' ><?php echo $val->status=='0' ? "Activate" : "Deactivate ";?></a></td>

		<td>
		
		<div class="btn-group">
		<button class="btn btn-info" type="button">Action</button>
		<button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul role="menu" class="dropdown-menu">
		<li><a href="javascript:void(0);" onclick='editamenities("<?php echo stripslashes($val->name); ?>","<?php echo $val->tax_id;?>");' >Edit</a></li>
		<li><a href="javascript:void(0);" onclick="deleteamenities('<?php echo $val->tax_id;?>');" >Delete</a></li>
		
		</ul>
		</div>
		
		</td>
	</tr>
<?php $sn++; endforeach;?>
<?php exit;?>
                                       