 <?php $sn=1; foreach($category as $catkey=>$catvalue):?>
                                            
	<tr>
		<td><?php echo $sn;?></td>
		<td><?php echo $catvalue->name; ?></td>
		<td><a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'changecategorystatus','id'=>$catvalue->tax_id)); ?>" class='state <?php echo $catvalue->status=='0' ? ' btn btn-danger':' btn btn-success';?>' rel='<?php echo $catvalue->status;?>' ><?php echo $catvalue->status=='0' ? "Activate" : "Deactivate ";?></a></td>

		<td>
		
		<div class="btn-group">
		<button class="btn btn-info" type="button">Action</button>
		<button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul role="menu" class="dropdown-menu">
		<li><a href="javascript:void(0);" onclick='editcategory("<?php echo stripslashes($catvalue->name); ?>","<?php echo $catvalue->tax_id;?>");' >Edit</a></li>
		<li><a href="javascript:void(0);" onclick="deletecategory('<?php echo $catvalue->tax_id;?>');" >Delete</a></li>
		
		</ul>
		</div>
		
		</td>
	</tr>
<?php $sn++; endforeach;?>
<?php exit;?>
                                       