<?php if(count($paginator)>0):
            foreach($paginator as $mail):
            $is_read =($mail['view']==0)?'unread':'';
?>
    <tr class="<?php echo $is_read; ?>">
        <td class="small-col"><input type="checkbox" value="<?php echo $mail['admin_email_id'] ?>" /></td>
        <td class="small-col"><i class="fa fa-star"></i></td>
        <td class="name"><a href="javascript:void(0);" onclick="viewmail(<?php echo $mail['admin_email_id'] ?>);"><?php echo $mail['sender'];?></a></td>
        <td class="subject"><a href="javascript:void(0);" onclick="viewmail(<?php echo $mail['admin_email_id'] ?>);"><?php echo $mail['subject'];?></a></td>
        <td><a href="javascript:void(0)" onclick="replymail('<?php echo $mail['sender'] ?>','<?php echo $mail['admin_email_id'] ?>');"><i class="fa fa-mail-forward"></i>Reply</a></td>
        <td class="time"><?php echo  date("(d-M-Y)  g:i A", strtotime($mail['created']));?></td>
    </tr>
<?php endforeach;?>
<?php else:?>
    <tr>
        <td colspan="5">No mail in mailbox yet !</td>
    </tr>
<?php endif;?>
                                                    
<?php die; ?>