 <?php $sn=1; foreach($paginator as $roles):
                                            $rolestatus =($roles['status']=='Active') ? 1 : 0 ;
                                            ?>
                                            
                                            <tr>
                                                <td><?php echo $sn;?></td>
                                                <td><?php echo $roles['first_name']; ?></td>
                                                <td><?php echo $roles['email']; ?></td>
                                                <td><?php echo $roles['role_name'];?></td>

                                                <td>
                                                
                                                <div class="btn-group">
                                                <button class="btn btn-info" type="button">Action</button>
                                                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul role="menu" class="dropdown-menu">
                                                <li><a href="javascript:void(0);" onclick='changeRole("<?php echo stripslashes($roles['role_name']); ?>","<?php echo $roles['id'];?>");' >Edit</a></li>
                                                <li><a href="javascript:void(0);" onclick="deleteRole('<?php echo $roles['id'];?>');" >Delete</a></li>
                                                
                                                </ul>
                                                </div>
                                                
                                                </td>
                                            </tr>

                                            
                                            <?php $sn++;
                                            endforeach;?>
<?php exit;?>
                                       