 <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Compose Draft Message</h4>
                    </div>
                    <?php  
                    
                        $form = $this->form;
                        $form->setAttribute('action', $this->url('administrator', array('controller'=>'administrator','action' => 'send-draft-mail','id'=>$mail->admin_email_id)));
                        $form->prepare();

                         echo $this->form()->openTag($form); ?>
                        <div class="modal-body">
                            <div class="form-group">
                             
                                <div class="input-group">
                                    <span class="input-group-addon">TO:</span>
                                    	<?php echo $this->formRow($form->get('reciever')->setValue($mail->reciever)); ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Subject:</span>
                                    	<?php echo $this->formRow($form->get('subject')->setValue($mail->subject)); ?>
                                </div>
                            </div>
                            <div class="form-group">
                                	<?php echo $this->formRow($form->get('body')->setValue($mail->body)); ?>
                            </div>
                          
                        </div>
                        <div class="modal-footer clearfix">

                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
                               <?php echo $this->formInput($form->get('sent'))?>
                        </div>
                     <?php  echo $this->form()->closeTag($form) ?>