<?php
	$sn =1; 
	foreach($transactions as $pkey=>$pvalue):
	
			$date	=$pvalue['payment_date'];

			$datess = date("M d,Y",strtotime($date));
	
	?>
	<tr>
	<td><?php echo $sn;  ?></td>
	<td><?php echo $pvalue['first_name'].' '.$pvalue['last_name']; ?></td>
	<td><?php echo $pvalue['txn_id'];  ?></td>
	<td><?php echo '$'.$pvalue['payment_gross'];  ?></td>
	<td><?php echo $datess;  ?></td>
    <td><?php echo $pvalue['payment_status'];  ?></td>
	</tr>
	<?php 
	$sn++;
	endforeach; ?>
<?php exit;?>
                                       