<?php $sn=1; foreach($users as $userkey=>$uservalue):?>
                                            
                                            <tr>
                                                <td><?php echo $sn;?></td>
                                                <td><?php echo $uservalue['first_name']." ".$uservalue['last_name']?></td>
                                                <td><?php echo $uservalue['username']; ?></td>
                                                <td><a href="<?php echo $this->url('administrator',array('controller'=>'administrator','action'=>'viewprofile','id'=>$uservalue['user_id'])); ?>"><?php echo $uservalue['email']; ?></a></td>
                                                <td><?php
                                                 if($uservalue['state']==0):
                                                       echo "<span class='btn bg-maroon btn-xs'>deactivated</span>";
                                                    elseif($uservalue['state']==1):
                                                      echo "<span class='btn bg-olive btn-xs'>Activated</span>";
                                                    endif;
                                                
                                                ?>
                                                </td>
                                                <td>
                                                 <?php
                                                    if($uservalue['is_approved_article']==0):
                                                       echo "<span class='btn bg-purple btn-xs'>Waiting</span>";
                                                    elseif($uservalue['is_approved_article']==1):
                                                       echo "<span class='btn bg-olive btn-xs'>Approved</span>";
                                                    elseif($uservalue['is_approved_article']==2):
                                                      echo "<span class='btn bg-maroon btn-xs'>Rejected</span>";
                                                    endif;
                                                 ?>
                                                </td>

                                                <td>
                                                
                                                <div class="btn-group">
                                                <button class="btn btn-info" type="button">Action</button>
                                                <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul role="menu" class="dropdown-menu">
                                                  <li><a href="javascript:void(0);" onclick="deleteuser('<?php echo $uservalue['user_id'];?>');" >Delete</a></li>
                                                
                                                </ul>
                                                </div>
                                                
                                                </td>
                                            </tr>

                                            
                                            <?php $sn++;
                                            endforeach;?>
<?php exit;?>
                                       