<script>
function validate(file) {
    var ext = file.split(".");
    ext = ext[ext.length-1].toLowerCase();      
    var arrayExtensions = ["txt"];

    if (arrayExtensions.lastIndexOf(ext) == -1) {
        alert("Only .txt files are allowed.");
        $("#upload_file").val("");
    }
}
</script>
<style>
.jumbotron{
	
}
</style>

<div class="jumbotron" style="padding-top:15px;padding-bottom:15px;">
    <div class="row" style="text-align:center">
		<h1>Welcome to <span class="zf-green">File Uploader	</span></h1>

		<p>
			Here you can upload file of any size and we will split it into small files.
		</p>
	</div>	
</div>

<div class="row">
	<div class="col-md-4">
	</div>
	
	<div class="col-md-4" style="border:1px solid #ddd;border-radius:5px;margin:0;padding:0">
		<div style="text-align:center;background:#ddd;padding:10px">
			<h1 style="margin:0"><span class="zf-green">Upload File	</span></h1>
		</div>
		<form method="post" action="<?php echo $this->url('application/default',array('controller'=>'index','action'=>'index'))?>" role="form" enctype="multipart/form-data" style="padding:10px">
			<div class="form-group">
				<label for="keywords">Keywords</label>
				<input type="text" name="keywords" class="form-control" id="keywords" required>
			</div>
			<div class="form-group">
				<label for="upload_file">Upload File</label>
				<input type="file" name="file" id="upload_file" onChange="validate(this.value)" required>
			</div>
			<button type="submit" class="btn btn-default">Upload</button>
		</form>
	</div>
	
	<div class="col-md-4">
	</div>
</div>

